
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <application
        android:name=".OneStopApp"
        android:allowBackup="true"
        android:label="One Stop"
        android:theme="@style/Theme.OneStop.MaterialYou">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThemeActivity" android:exported="false"/>
        <activity android:name=".SetupActivity" android:exported="false"/>
        <activity android:name=".UpdatesActivity" android:exported="false"/>
        <activity android:name=".AboutActivity" android:exported="false"/>

        <service
            android:name=".tile.OneStopTileService"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
